// px -> rem 자동계산
@function rem($value) {
  @return calc(($value / 10) * 1rem);
}

$breakpoint-min: 280px;
$breakpoint-max: 586px;

// 핸드폰 사이즈 전체
@mixin media-phone {
  @media (min-width: #{$breakpoint-min}) and (max-width: #{$breakpoint-max - 1px}) {
    @content;
  }
}
// 작은폰
@mixin media-phone-small {
  @media (min-width: #{$breakpoint-min}) and (max-width: #{320 - 1px}) {
    @content;
  }
}

// 다크모드
@mixin media-dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

// @include bgi('url', '이미지종류', '반복', '사이즈');
@mixin bgi($name, $path: '@/assets/images/', $format: 'svg', $repeat: no-repeat, $size: 100% auto) {
  background-image: url('#{$path}#{$name}.#{$format}');
  background-repeat: $repeat;
  background-size: $size;
}

/* 
  가로스크롤 @include media-scroll('박스간 간격', '박스 가로사이즈', '박스 세로사이즈')
  @include media-scroll(toRem(8), auto, toRem(36));
*/
@mixin media-scroll($gap, $col, $row, $pd: $gap) {
  display: grid;
  gap: $gap;
  grid-auto-flow: column;
  grid-auto-columns: $col;
  grid-auto-rows: $row;
  overflow-x: auto;
  //한칸씩 이동하고 싶다면
  //scroll-snap-type: inline mandatory;
  scroll-padding-inline: $pd;
  align-items: center;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
  > * {
    scroll-snap-align: start;
  }
}

/*
  말줄임 표시
  1줄: @include text-overflow;
  1줄이상: @include text-overflow(2);
*/
@mixin text-overflow($linetype: 1) {
  overflow: hidden;
  @if $linetype == 1 {
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box !important;
    -webkit-line-clamp: $linetype;
    -webkit-box-orient: vertical;
  }
}
/* 
  말줄임 라인 우축에 추가 요소가 있는 경우 말줄임 감싸고 있는 태그에 적용
  @include text-overflow-box;
*/
@mixin text-overflow-box {
  display: flex;
  min-width: 0;
  .option_el {
    flex-shrink: 0;
  }
}

@mixin ls($value: 1) {
  letter-spacing: calc($value * 0.01rem);
}

// 비밀번호 입력 배경
// pass-dot-image('common/pass-dot-image', 24px, 1)
@mixin pass-dot-image($image, $size, $dot: 0, $format: 'svg') {
  background-size: $size auto;
  background-repeat: no-repeat;
  background-position:
    0 50%,
    2rem 50%,
    4rem 50%,
    6rem 50%,
    8rem 50%,
    10rem 50%,
    12rem 50%,
    14rem 50%,
    16rem 50%,
    18rem 50%,
    20rem 50%,
    22rem 50%,
    24rem 50%,
    26rem 50%,
    28rem 50%,
    30rem 50%;

  @if $dot == 1 {
    background-image: url('/src/assets/images/#{$image}.#{$format}');
  } @else if $dot == 2 {
    background-image: url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}');
  } @else if $dot == 3 {
    background-image: url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}');
  } @else if $dot == 4 {
    background-image: url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}');
  } @else if $dot == 5 {
    background-image: url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}');
  } @else if $dot == 6 {
    background-image: url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}');
  } @else if $dot == 7 {
    background-image: url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}');
  } @else if $dot == 8 {
    background-image: url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}');
  } @else if $dot == 9 {
    background-image: url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}');
  } @else if $dot == 10 {
    background-image: url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}'),
    url('/src/assets/images/#{$image}.#{$format}'), url('/src/assets/images/#{$image}.#{$format}');
  }
}