.no-data {
  padding-block: toRem(56);
  font-size: toRem(16);
  text-align: center;
  .icon {
    @include bgimg('img-nodata');
    background-size: contain;
    width: toRem(48); //default size
    height: toRem(48);
    margin: 0 auto;
    &.size-sm {
      width: toRem(40);
      height: toRem(40);
    }
  }
  .text {
    padding-top: toRem(16);
  }
}
